/* Overarching Types and Classes */

h1{
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

body {
  background-image: url("New_Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 30px;
  background-color: rgb(0, 0, 68);
}

.title-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column; 
  margin-top: 30px;
  background-color: maroon;
}

/* Styles for the three persisting containers */

.left-title-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  background-color: rgb(2, 239, 239);
  order: 2;
  margin-bottom: 30px;
  margin-top: 30px;
}

.right-title-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  order: 3;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: lightgreen;
}

.center-title-container {
  margin-top: 30px; 
  background-color: darkviolet;
}

/* Styles for the resume or image containers */

.Resume-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  background-color: lightgreen;
  align-items: center;
  margin-top: 30px;
}

.resume-text{
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
  background-color: white;
  order: 1;
  align-items: center;
  margin-top: 30px;
}

.gif-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: white;
}

/* Seperate Center Block for the Home page */

.index-center-title-container { 
  font-size: large;
  order: -1;
}

/* Style for all container titles */

.left-title {
  margin: auto;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.right-title {
  margin: auto;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.center-title {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 10px;
}

/* Styles for all container text */

.left-text, .right-text{
  width: 80%;
  margin: 20px;
  text-align: left;
}

.center-text {
  margin: 20px;
  text-align: left;
  color: white;
}

/* Style for Headers and Footers */

.header-container {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}

header {
background-color: lightgray;
height: 50px;
padding: 10px;
display: flex;
justify-content: space-between;
text-align: center;
}

footer {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: lightgray;
  position: absolute;
  top: 438px;
  left: 38;
}

/* Style for Media Links bar on Homepage */

.links {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: lightgray;
  position: absolute;
  top: 438px;
  right: 38;
  }
  
  .links a {
    display: inline-block;
    margin-bottom: 30px;
  }

/* Style for toggle button and its border */

.container {
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 10, 77);
  font-size: 1.2em;
  width: 102%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 265%);
}

.Style_change_text{
  color: orange;
  text-decoration: underline;
}

#lastDiv {
margin-bottom: 0.5em;
}

.button{
  margin-bottom: 30px;
}

/* Basic or specific styles for text decoration */

.Underline_text {
  text-decoration: underline;
  color: blue;
}

.bold_text {
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
}

.Only_bold{
  font-size: 1.5em;
  font-weight: bold;
}

#About_Me {
  font-weight: bold;
  font-size: 1.03em;
}


