/* Overarching Types and Classes */

h1{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

body {
    background-color: maroon;
}

.main-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 50px;
    background-color: maroon;
}
  
.title-container {
    display: flex;
    justify-content: flex-end;
}

.title-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Styles for the three persisting containers */

.left-title-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(205, 205, 8);
}
  
.right-title-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    background-color: rgb(234, 170, 50);
}

.center-title-container {
    margin-top: 30px; 
    background-color: rgb(240, 59, 59);
}

/* Styles for the resume or image containers */

.Resume-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    background-color: rgb(234, 170, 50);
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: auto;
    margin-right: 50px;
    background-color: white;
}

.gif-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: white;
}

/* Seperate Center Block for the Home page */

.index-center-title-container {
    margin-top: 30px; 
  }

/* Style for all container titles */
  
.left-title {
    margin: auto;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }

.right-title {
    margin: auto;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }

.center-title {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 20px;
  }

  /* Styles for all container text */

.left-text, .right-text{
    width: 80%;
    margin: 20px;
    text-align: left;
  }

.center-text {
    margin: 20px;
    text-align: left;
    color: white;
  }

/* Style for Headers and Footers */

.header-container {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
  }

header {
  background-color: lightgray;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

footer {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

/* Style for Media Links bar on Homepage */

.links {
  margin-top: 20px;
  background-color: lightgray;
  text-align: center;
}

.links a {
  display: inline-block;
  margin: 0 10px;
}

/* Style for toggle button and its border */

.container {
  margin-top: 10px; 
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.Style_change_text{
  color: rgb(1, 203, 203);
  text-decoration: underline;
}

#lastDiv {
  margin-bottom: 0.5em;
}

/* Basic or specific styles for text decoration */

.Underline_text {
    text-decoration: underline;
    color: blue;
}

.bold_text {
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}

.Only_bold{
  font-size: 1.5em;
  font-weight: bold;
}

#About_Me {
    font-weight: bold;
    font-size: 1.03em;
}


